font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;

.navbar 
{
	opacity: 0.8;
	border-bottom: 1px solid #fff;
}

.nav-item:hover {
	color: rgb(255, 0, 0);
}

.jumbotron 
{
	padding-top: 80px;
}

.fa-ellipsis-v
{
	color: #fff;
}

.container.a
{
	color: #fff;
}

main
{
	font-family: 'Open Sans', sans-serif;
}

main img
{
	width: 100%;
	height: auto;	
}

main p i
{
	font-size: 0.8rem;
}

.card img 
{
	height: 25rem;
	width: auto;
}

.memleketim-jumbotron
{
	background-image: url(img/kmarasgenel.jpg);
	background-size: cover;
	background-position: 50% 30%;
}

.mirasimiz-jumbotron
{
	background-image: url(img/ulucami.jpg);
	background-size: cover;
	background-position: 30% 40%;
}

.tarhana-jumbotron
{
	background-image: url(img/tarhana.jpg);
	background-size: cover;
	background-position: 10% 70%;
}

.dondurma-jumbotron
{
	background-image: url(img/backroun-dondurma.jpg);
	background-size: cover;
	background-position: 20% 70%;
}
.yesilgoz-jumbotron
{
	background-image: url(img/Yesilgoz6.jpg);
	background-size: cover;
	background-position: 20% 70%;
}
.baskonus-jumbotron
{
	background-image: url(img/backround-baskonus.jpg);
	background-size: cover;
	background-position: 10% 70%;
}
